@import 'settings';
@import 'foundation';

.header {
  .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #000000;
    border-bottom: 3px solid #b11116;

    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }

  .header-logo {
    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-top: 30px !important;
    }
  }

  .header-menu {
    padding-top: 10px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-top: 0 !important;
    }

    .header-menu__item {
      display: inline-block;
      padding: 5px 20px 5px 0;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
    }

    .header-menu__item_active {
      color: #b11116;
    }
  }

  .header-phone {
    padding-top: 15px;

    .header-phone__item {
      color: #ffffff;
    }

    p {
      text-align: right;
      margin-bottom: 0;
      line-height: 22px;

      @media only screen and (max-width: #{$global-breakpoint}) {
        text-align: left !important;
      }
    }
  }
}

.catalog-content {
  h3 {
    margin-top: 30px;
    color: #000000;
  }

  p {
    line-height: 24px;
    color: #333333;
  }

  .phones-name {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
  }
}

.catalog {
  img {
    border: 1px solid #ededed;
  }

  p {
    margin-top: 10px;
    color: #b11116;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
  }

  .columns {
    padding-bottom: 0;
  }

  .catalog__btn {
    margin-top: 20px;
    &:hover {
      td {
        border: 0;
        background: none;
      }

    }

    td {
      border: 0;
      background: none;

      &:hover {
        background: none;
      }
    }

    a {
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
      background: #b11116;
    }
  }
}

.discount {
  .columns.discout__inner {
    background-image: url('assets/img/discount_bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #1d2833;

    h5 {
      margin-top: 60px;
      margin-bottom: 5px;
      color: #fff;
      span {
        font-size: 24px;
      }
    }

    a {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .columns {
    padding-bottom: 0;
  }

  .discount__slogan {
    display: inline-block;
    padding: 1px 3px;
    background: #b11116;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
  }

  .discount__btn {
    margin-top: 30px;
    margin-bottom: 30px;

    &:hover {
      td {
        border: 0;
        background: none;
      }

      a {
        font-size: 12px;
        border: 1px solid #dddddd;
      }
    }

    td {
      border: 0;
      background: none;

      &:hover {
        background: none;
      }
    }

    a {
      font-weight: normal;
      border: 1px solid #dddddd;
    }
  }

  .discount__phone {
    padding-top: 18px;
  }

  .discount__pic {
    padding-top: 78px;

    p {
      margin-top: 10px;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
    }
  }
}

.unsubscribe {
  .columns {
    padding-bottom: 0;

    a {
      font-size: 12px;
      color: #bbbbbf;
      text-decoration: underline;
    }

    p {
      color: #ffffff;
      font-size: 12px;
      line-height: 16px;
    }

    .unsubscribe__text {
      margin-bottom: 0;
    }

    .callout-inner {
      padding: 16px 10px;
      background: #4d4d50;
    }
  }
}

.social {
  .social__inner {
    padding-bottom: 0;

    h6 {
      color: #333333;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.footer {
  .columns {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .button {
    margin-bottom: 0;

    td {
      border: 0;
      background: #000000;

      &:hover {
        background: #000000;
      }
    }

    a {
      padding-top: 16px;
      padding-bottom: 16px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
